{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<section class="section">
    <h1>About Me</h1>

    <p>
        I am a Registered Nurse originally qualified in the Philippines in 2015 and practicing in Ireland since 2020. My clinical background includes Emergency Department (ED), acute care, elderly care, and Telephone Triage Nursing for Out-of-Hours GP services.
    </p>

    <p>
        Working in high-pressure clinical and remote environments has strengthened my critical thinking, structured decision-making, and ability to manage complex information responsibly. These experiences developed strong analytical skills and systems thinking — qualities that translate naturally into software development.
    </p>

    <h2>Current Focus</h2>
    <p>
        I am currently studying Full-Stack Software Development, with experience in HTML, CSS, JavaScript, and expanding into Python for back-end development.
    </p>

    <h2>Career Goal</h2>
    <p>
        My goal is to combine clinical expertise with technical skills to contribute to digital health and health-tech platforms that improve systems and patient outcomes.
    </p>

    <h2>Strengths</h2>
    <p>
        Balancing full-time clinical practice while studying software development has strengthened my discipline, resilience, and commitment to continuous growth.
    </p>
</section>
{%  endblock %}